<!DOCTYPE html>
<html>
<head>
  <title>Telesales Demo (Rails)</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<p/><hr style="margin-top: 150px"> 
You can find the source for this project on <a href="https://github.com/jeffdonthemic/Telesales-Rails" target="_blank">github</a>.<br> 
For more information regarding this demo see: <a href="http://blog.jeffdouglas.com/2011/05/04/telesales-rails-heroku" target="_blank">http://blog.jeffdouglas.com/2011/05/04/telesales-rails-heroku</a>

</body>
</html>
