<span class="title">Welcome to the ACME Telesales Application (RoR on Heroku)</span><p/>
<p>This demo shows you how to query, retrieve, create and edit records in salesforce.com.</p>
<p>Search for an Account to view all of its Opportunities or to create a new one.</p>
<p/>
<form method="post" action="search">
	<span class="heading">Search by Account Name:</span>
	<p/>
	<input type="text" name="accountName" value="ACME" style="width: 300px"/>
	&nbsp
	<input type="submit" value="Search"/>
	&nbsp 
</form>
<p/>
